<div class="focuspoint">
        <div>
         <span>{{ title }}</span>
        </div>
        <div>
          <span>{{ description }}</span>
        </div>
        <button id="user">
          <img [src]=user2 alt="">
          1234
        </button>
        <button id="fizz">
          <img [src]=fizz alt="">1000
        </button>
        <img [src]=Edit alt="" id="edit" (click)="onEdit()">
        <img [src]=save alt="" id="save">
        <img [src]=del alt="" id="del" (click)="onDelete()">
</div>
