<div class="focus-bar">
      <div class="logo-size2"></div>
      <div class="btn-container">
        <button class="btn-Focus">
          <img [src]='Homepage' alt="" />
          <p class="btn-p">Homepage</p>
        </button>
        <button class="btn-Focus btn-underline">
          <img [src]='FocusPoint' alt="" />
          <p class="btn-p">Focus Point</p>
        </button>
        <button class="btn-Focus">
          <img [src]='Rewards' alt="" />
          <p class="btn-p">Rewards</p>
        </button>
        <button class="btn-Focus">
          <img [src]='Profile' alt="" />
          <p class="btn-p">Profile</p>
        </button>
        <button class="btn-Focus">
          <img [src]='Mystatistic' alt="" />
          <p class="btn-p">My statistic</p>
        </button>
        <button class="btn-Focus">
          <img [src]='Pricing' alt="" />
          <p class="btn-p">Pricing</p>
        </button>
      </div>
      <div class="btn-log">
        <button class="btn-Focus" (click)="handleLogout()">
          <img [src]='Logout' alt="" />
          <p class="btn-p">Log out</p>
        </button>
      </div>
      <div class="btn-menu">
        <img [src]='butmenu' alt="" />
      </div>
</div>
