<div>
  <h1>Your Focus</h1>
</div>
<div class="focus-menu">
        <div class="focus-title">
          <button>In progress</button>
          <button>completed</button>
        </div>
        <div class="focus-main">
          <div class="focus-head">
            <div class="tex-g">
              <h6>Focus Points</h6>
              <div class="tex-1">
                <p>12, 254</p>
                <span>points</span>
              </div>
            </div>
            <button type="button" class="btn-add" (click)="openCreateModal()"> + Add new focus point </button>
          </div>
          <div class="hr"></div>
          <div class="focus-field">
            <div *ngFor="let focusPoint of focusPoints; let i = index">
             <app-focuspoint
               [title]="focusPoint.title"
               [description]="focusPoint.description"
               (edit)="openEditModal(focusPoint,i,focusPoint.id)"
               (delete)="deleteFocusPoint(focusPoint.id, i)">
             </app-focuspoint>
            </div>
            <p id="desc">
              No Focus Points added <br />
              <span>
                Focus Point to start you Journey towards <br />
                self-development !
              </span>
            </p>
            <button class="morebutton">Load More</button>
          </div>
        </div>
</div>
