<h2 mat-dialog-title>{{ data.isEdit ? 'Edit' : 'Create' }} FocusPoints</h2>
<mat-dialog-content class="mat-typography">
  <div class="form-container">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Enter title" [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Enter description" [(ngModel)]="data.description"  rows="5"
              cols="100"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSave()">{{ data.isEdit ? 'Update' : 'Create' }}</button>
</mat-dialog-actions>
